name: deploy-prod
on:
  release:
    types: [published]

jobs:
  call-workflow:
    concurrency: deploy-prod
    permissions:
      contents: write
      id-token: write
      security-events: write
      actions: read
    uses: navikt/pam-deploy/.github/workflows/deploy-prod.yml@v7
    with:
      NAIS_RESOURCE: ".nais/nais.yml"
      NAIS_VARS: ".nais/nais_prod-gcp.json"
      TEAM: "teamdigihot"

