name: build-deploy-dev
on:
  push:
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "LICENCE"
      - "CODEOWNERS"
    branches:
      - main

jobs:
  call-workflow:
    uses: navikt/pam-deploy/.github/workflows/deploy-dev.yml@v4
    with:
      NAIS_RESOURCE: ".nais/nais.yml"
      NAIS_VARS: ".nais/nais-dev.json"
      JAVA_VERSION: 17
      SNYK_ENABLED: true
      SNYK_ORG: "hjelpemiddelbehov"
      TEAM: "teamdigihot"
    secrets:
      NAIS_DEPLOY_APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
